<div class="disclaimer" ng-controller="EndCtrl">
	<h1>Возьмите талон с номером<br>и ожидайте его появления на табло!</h1>
<!-- 	<br>
	<svg xmlns="http://www.w3.org/2000/svg"
	width="200" height="200" stroke="#fff"
	stroke-width="7" fill="#999">
		<path d="M72,192H143L159,147V94C159,87
		135,82 135,89V102V79C135,74 112,71
		112,79V96V18C109,8 88,7 88,18V97V80C87,76
		66,74 64,83V128V102C64,96 42,95 41,102V129z"/>
	</svg> -->

	<img src="css/print.jpg" width="280px" style="margin: 40px;">
	<div class="timer-outer">
		<div class="timer-inner"></div>
	</div>
</div>