<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://firebasestorage.googleapis.com/v0/b/mybeestore-12c3a.appspot.com/o/myBeestore.ipa?alt=media</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://beeline-digital.github.io/monobrand/icon-57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://beeline-digital.github.io/monobrand/icon-512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ru.beeline.digital.indoor.monobrand</string>
				<key>bundle-version</key>
				<string>0.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>My BeeStore</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
